<nb-layout>
  <nb-layout-header fixed>
    <h3>Charts.js (ng2-charts)</h3>
  </nb-layout-header>

  <nb-layout-column>
    <div class="row">
      <div class="col-12 col-md-6"><app-line-chart></app-line-chart></div>
      <div class="col-12 col-md-6"><app-bar-chart></app-bar-chart></div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <app-pie-chart></app-pie-chart>
      </div>
      <div class="col-12 col-md-6"><app-radar-chart></app-radar-chart></div>
    </div>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <p>&copy; {{ year }} Hector M. Takami</p>
  </nb-layout-footer>
</nb-layout>
