<nb-card class="mb-0">
  <nb-card-header>
    <div
      class="d-flex align-items-center animated fadeIn"
      style="flex-direction: row;"
    >
      <img
        src="../../../assets/profile-pic.jpg"
        class="img-fluid rounded-circle d-inline mr-3"
        style="width: 3rem; height: 3rem;"
        alt=""
      />
      <h6>Hector M. Takami</h6>
      <h1
        class="d-none d-md-block animated fadeInRight"
        style="margin-left: auto;"
      >
        Hello World!
      </h1>
    </div>
  </nb-card-header>
  <nb-card-body class="d-sm-block d-md-none text-right">
    <h2>Hello World!</h2>
  </nb-card-body>
</nb-card>

<!-- 
<div class="card-row row d-flex justify-content-between px-3 pt-3 mt-1 pb-0">
  
  <div class="card-col" style="max-width: 40%;">
    <nb-card size="small" class="p-0 mb-4 mr-2">
      <nb-card-body
        class="px-0 d-flex justify-content-center align-items-center"
      >
        <div class="container text-center">
          <span *ngFor="let lang of languages; let i = index">
            <img
              *ngIf="
                lang.name != 'Github' &&
                lang.name != 'VS Code' &&
                lang.name != 'Microsoft Office' &&
                lang.name != 'MySQL' &&
                lang.name != 'Firebase'
              "
              src="{{ lang.logo }}"
              class="img-fluid rounded-circle language-logo d-inline"
              alt=""
              nbTooltip="{{ lang.name }}"
              nbTooltipPlacement="bottom"
              nbTooltipStatus="primary"
            />
          </span>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div
    class="card-col d-flex justify-content-center align-items-center"
    style="max-width: 20%;"
  >
    <h3 class="text-center">
      Sort by technology or category<br />
      <i class="fas fa-search mt-5 fa-3x animated slideInLeft"></i>
    </h3>
  </div>

  <nb-card size="small" style="max-width: 40%;">
    <nb-card-body class="text-center mt-3">
      <span class="d-flex justify-content-center align-items-center my-3">
        <nb-toggle [(checked)]="showAll" status="success">
          <h6>Show All</h6>
        </nb-toggle>
      </span>
      <span *ngFor="let category of categories">
        <span
          *ngIf="category == 'Software Engineering'"
          class="badge badge-pill badge-se"
          >{{ category }}</span
        >
        <span
          *ngIf="category == 'Software Development'"
          class="badge badge-pill badge-sd"
          >{{ category }}</span
        >
        <span
          *ngIf="category == 'Computer Science'"
          class="badge badge-pill badge-cs"
          >{{ category }}</span
        >
        <span
          *ngIf="category == 'Machine Learning'"
          class="badge badge-pill badge-ml"
          >{{ category }}</span
        >
        <span
          *ngIf="category == 'Graphic Design'"
          class="badge badge-pill badge-gd"
          >{{ category }}</span
        >
        <span
          *ngIf="category == 'Network Management'"
          class="badge badge-pill badge-nm"
          >{{ category }}</span
        >
        <span
          *ngIf="category == 'Web Develpment'"
          class="badge badge-pill badge-wd"
          >{{ category }}</span
        >
        <span
          *ngIf="category == 'Mobile Development'"
          class="badge badge-pill badge-md"
          >{{ category }}</span
        >
      </span>
    </nb-card-body>
  </nb-card>
</div> -->
