<nb-layout>
  <nb-layout-header fixed>
    <h3>Angular Forms</h3>
  </nb-layout-header>

  <nb-layout-column class="d-flex justify-content-center ">
    <div class="row col-12 p-0">
      <div class="col-12 col-md-6 ">
        <app-reactive-form> </app-reactive-form>
      </div>
      <div class="col-12 col-md-6 ">
        <app-template-form> </app-template-form>
      </div>
    </div>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <p>&copy; {{ year }} Hector M. Takami</p>
  </nb-layout-footer>
</nb-layout>
